@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #303030;
  --primaryViolet:#73168C;
  --background-button: #5E3E9B;
  --background-second-black: #292323;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primaryViolet: var(--primaryViolet);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F5;
    --foreground: #303030;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.playfair {
  font-family: var(--font-playfair-display);
  font-style: italic;
  font-size: 1.3rem;
}
.playfairRegular {
  font-family: var(--font-playfair-display);
  font-style: normal;
  font-size: 2rem;
}

.playfairTitlesItalic {
  font-family: var(--font-playfair-display);
  font-style: italic;
  font-size: 2.5rem;
}

.playfairBigTitlesItalic {
  font-family: var(--font-playfair-display);
  font-style: italic;
  font-size: 2.5rem;
}

.playfairTitlesRegular {
  font-family: var(--font-playfair-display);
  font-style: normal;
  font-size: 2.5rem;
}
.catamaranTitlesRegular {
  font-family: var(--font-catamaran);
  font-style: normal;
  font-size: 2rem;
}

.catamaran {
  font-family: var(--font-catamaran);
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 300; 
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--foreground);
  }
  
  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primaryViolet);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hero-image{
    background-image: url("/Images/hero.png");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: 100%;
    filter: drop-shadow(0px 0px 1.5px rgba(115, 22, 140, 50));
  }
  .buttonBackground {
    background-color: var(--background-button);
    color: var(--background);
    box-shadow: 0px 2px 1px 0px #230443;
    border-radius: 0.75rem;
  }
  .backgroundSecondary{
    background-color: var(--background-second-black);
    color: var(--background);
  }
  .boldText{
    font-weight: 900;
  }
